<section id="aliados" class="section is-sub-2 fx-row-wrapper">
  <div class="contain contain-lg gutter-vertical-5">
    <header class="section-header gutter-vertical-2" data-aos="fade-up">
      <h2 class="title">
        <span>Aliados</span>
      </h2>
    </header>
    <ul class="fx-row-wrap gutter-vertical-2 fx-row-space-4 allies-list">
      <li class="allies-2 icon" data-aos="fade-up" data-aos-delay="1700">
        <img src="./assets/allies6.jpeg" width="160" height="auto" />
      </li>
      <li class="allies-2 icon" data-aos="fade-up" data-aos-delay="2000">
        <img src="./assets/allies5.png" width="270" height="auto" />
      </li>
      <li class="allies-2 icon" data-aos="fade-up" data-aos-delay="2300">
        <img src="./assets/allies3.png" width="340" height="auto" />
      </li>
      <li class="allies-2 icon" data-aos="fade-up" data-aos-delay="2600">
        <img src="./assets/allies4.png" width="120" height="auto" />
      </li>
      <li class="allies-2 icon" data-aos="fade-up" data-aos-delay="2900">
        <img src="./assets/allies7.png" width="160" height="auto" />
      </li>
    </ul>
  </div>
</section>
