@use 'variables';

.form{
  padding: var(--space-2) var(--space-0) var(--space-5);
}

.game-title {
  color: var(--color-black);
  font-size: var(--font-size-3);
  font-weight: bold;
  text-transform: uppercase;
}

.btn{
  color: white;
  background-color: var(--color-yellow);
}

.form-control{
  label{
    font-weight: bold;
    font-size: var(--font-size-4);
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: block;
  }
  input, textarea{
    border: 2px solid var(--color-yellow);
    resize: none;
  }
  input{
    width: 50%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.buttonery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.icons-social {
  display: flex;
  align-items: center;
  padding: var(--space-0);
  text-transform: uppercase;
  font-size: var(--font-size-3);
  a{
    padding: 0 10px;
    &:last-child{
      padding-right: 0px;
    }
  }
}

.sent {
  padding-left: var(--space-2);
  color: var(--color-green);
  transition: opacity 0.5s ease;
}

.to-send {
  padding-left: var(--space-2);
  color: var(--color-yellow);
  transition: opacity 0.5s ease;
}
