@use "sass:map";

$break-xl: 1600px;
$break-lg: 1200px;
$break-md: 1024px;
$break-sm: 768px;
$break-xs: 480px;

// Initialize variables
$space-sizes: (
  '0': 0,
  '02': 0.2rem,
  '05': 0.5rem,
  '15': 1.5rem,
);
@for $space from 1 to 12 {
  $space-sizes: map.merge(
    $space-sizes,
    (
      '#{$space}': #{$space}rem,
    )
  );
}

$font-sizes: (
  '1': 8.5rem,
  '2': 5.4rem,
  '25': 4.2rem,
  '3': 3.6rem,
  '4': 2.8rem,
  '45': 2.4rem,
  '5': 1.8rem,
  '6': 1.4rem,
  'base': 2.4rem,
);
// Mobile font-sizes
$font-sizes-mb: (
  '1': 5.4rem,
  '2': 3.6rem,
  '25': 3rem,
  '3': 2.4rem,
  '4': 1.8rem,
  '45': 2rem,
  '5': 1.4rem,
  '6': 1.2rem,
  'base': 1.4rem,
);

$colors: (
  'red': #f04f2b,
  'green': #5a7c40,
  'yellow': #bc9838,
  'blue': #7cbfec,
  'white': #fff,
  'black': #424041,
  'grey': #e5e6e8,
  'light-blue': #a8d4ef,
  'dark-blue': #12a1dd,
);

// Shared component variables
$header-height: 12rem;
$navbar-mb-width: 30rem;

// Z-indexes
$z-header-navbar: 9999;
$z-header-menu: 9998;
$z-home-section: 1;
$z-home-header: 2;
