<div class="gutter-vertical-5">
  <section>
    <div class="bg-wrapper">
      <div
        class="bg-content"
        defaultImage="./assets/placeholder.svg"
        lazyLoad="./assets/fotocabezera.jpg"
      ></div>
      <div class="bg-svg">
        <svg
          viewBox="0 0 800 100"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <clipPath id="home-wave">
              <path
                d="m-8.77039,46.02724c15.39269,32.89384 38.30131,48.43345 111.84438,41.79019c73.54307,-6.64327 91.2825,-68.60797 222.49473,-56.18362c84.57582,10.57571 120.73419,65.8813 212.69931,63.84624c91.96512,-2.03506 168.91837,-75.1515 264.07696,-68.65954l4.07692,577.17949l-831,7l22.47436,-608.5625z"
              />
            </clipPath>
          </defs>
          <rect
            clip-path="url(#home-wave)"
            fill="white"
            height="600"
            width="800"
          ></rect>
        </svg>
      </div>
    </div>
    <div class="contain contain-lg">
      <h1 class="fx-column top-5">
        <span class="header header-green" data-aos="fade-down">JUEGO Y</span
        ><span class="header header-yellow" data-aos="fade-up"
          >DESCUBRO</span
        >
      </h1>
      <div class="header-circles fx-row-nowrap show-sm">
        <!-- <h2
          class="header-circle header-circle-white"
          data-aos="zoom-in"
          data-aos-delay="500"
        >
          <img src="./assets/lightbulb.svg" width="200px" height="auto" />
        </h2> -->
        <h2
          class="header-circle header-circle-blue"
          data-aos="zoom-in"
          data-aos-duration="1200"
          data-aos-delay="800"
        >
          <span>INVENTA<br />EL FUTURO</span>
        </h2>
        <h2
          class="header-circle header-circle-green"
          data-aos="zoom-in"
          data-aos-duration="1400"
          data-aos-delay="1100"
        >
          <span>
            Asómbrate<br />CON NUESTROS<br />
            JUEGOS
          </span>
        </h2>
      </div>
    </div>
  </section>
</div>
