<footer>
  <div class="container">
    <div>
      <ol>
        <li>
          Av. La Cantuta Mza A Lote 3,
        </li>
        <li>
          Complejo Qhapac Ñan. Cajamarca, Perú.
        </li>
        <li>
          matinteractivo@losandes.org.pe / 51 76 366961
        </li>
      </ol>
      <br>
      <ol>
        <li>
          Copyright © 2020 Museo Agua y Tierra Interactivo.
        </li>
        <li>
          Todos los derechos reservados.
        </li>
      </ol>
    </div>
    <div class="impulse">
      <label class="small">Iniciativa impulsada por:</label>
      <img src="./assets/footer-logo.jpeg">
    </div>
  </div>
</footer>
